*
!pyproject.toml
!uv.lock
!assistant/
!assistant/Dockerfile
!assistant/__init__.py
!assistant/pyproject.toml
!assistant/src/
!assistant/src/**
!stt/
!stt/Dockerfile
!stt/pyproject.toml
!stt/src/
!stt/src/**
!tts/
!tts/Dockerfile
!tts/pyproject.toml
!tts/src/
!tts/src/**
